<section class="bg-white py-8 antialiased md:py-16">
  <div class="mx-auto max-w-screen-xl px-4 2xl:px-0">
    <h2 class="text-xl font-semibold text-gray-900 sm:text-2xl">
      Shopping Cart
    </h2>

    <div *ngIf="(cartItems$ | async)?.length" class="mt-6 sm:mt-8 md:gap-6 lg:flex lg:items-start xl:gap-8">
      <div class="mx-auto w-full flex-none lg:max-w-2xl xl:max-w-4xl">
        <div *ngFor="let item of cartItems$ | async" class="space-y-6">
          <div
            class="rounded-lg border border-gray-200 bg-white p-4 shadow-sm md:p-6"
          >
            <div
              class="space-y-4 md:flex md:items-center md:justify-between md:gap-6 md:space-y-0"
            >
              <label for="counter-input" class="sr-only"
                >Quantity:</label
              >
              <div
                class="flex items-center justify-between md:order-3 md:justify-end"
              >
                <div class="flex items-center">
                  {{ item.quantity }}
                </div>
              </div>

              <div
                class="w-full min-w-0 flex-1 space-y-4 md:order-2 md:max-w-md"
              >
                <p
                  href="#"
                  class="text-base font-medium text-gray-900 hover:underline"
                  >{{ item.pokemon.name | uppercase }}</p
                >

                <div class="flex items-center gap-4">

                  <button
                  (click)="removeItem(item.pokemon.name)"
                    type="button"
                    class="inline-flex items-center text-sm font-medium text-red-600 hover:underline"
                  >
                    <svg
                      class="me-1.5 h-5 w-5"
                      aria-hidden="true"
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      fill="none"
                      viewBox="0 0 24 24"
                    >
                      <path
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M6 18 17.94 6M18 18 6.06 6"
                      />
                    </svg>
                    Remove
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <ng-template #emptyCart>
        <p class="text-gray-500">Your cart is empty.</p>
      </ng-template>

      <div class="mx-auto mt-6 max-w-4xl flex-1 space-y-6 lg:mt-0 lg:w-full">
        <div
          class="space-y-4 rounded-lg border border-gray-200 bg-white p-4 shadow-sm sm:p-6"
        >
        <button
        *ngIf="(cartItems$ | async)?.length"
        (click)="clearCart()"
        class="flex w-full bg-red-500 items-center justify-center rounded-lg bg-primary-700 px-5 py-2.5 text-sm font-medium text-white hover:bg-primary-800 focus:outline-none focus:ring-4 focus:ring-primary-300"
      >
        Clear Cart
      </button>
          <a
          *ngIf="(cartItems$ | async)?.length"
          routerLink="/checkout"
            class="flex w-full bg-sky-600 items-center justify-center rounded-lg bg-primary-700 px-5 py-2.5 text-sm font-medium text-white hover:bg-primary-800 focus:outline-none focus:ring-4 focus:ring-primary-300"
            >Proceed to Checkout</a
          >
          <div class="flex items-center justify-center gap-2">
            <span class="text-sm font-normal text-gray-500"> or </span>
            <a
              href="/pokemon"
              title=""
              class="inline-flex items-center gap-2 text-sm font-medium text-primary-700 underline hover:no-underline"
            >
              Back To List
              <svg
                class="h-5 w-5"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M19 12H5m14 0-4 4m4-4-4-4"
                />
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
