<main class="flex gap-10 flex-col shadow-2xl">
    <div class="flex flex-col gap-4 mt-10">
      <h1 class="text-4xl text-center font-semibold">Halo Salam kenal !!!</h1>
      <h4 class="text-center font-medium" style="font-weight: 300">Nama Saya, Akbara Jati Gayuh Risangaji</h4>
      <hr class="pt-4">
    </div>
    <div class="card w-full flex justify-center gap-4 mb-10">
      <img ngClass="w-[200px]" class="profile rounded-full" src="/foto.jpeg" alt="fotobersama" />
      <div class="bio">
        <h4 style="font-weight: 100">
          You can call me <span class="text-yellow-600" style="font-weight: 600">Akbar</span>a
          <span class="text-yellow-600" style="font-weight: 600"> Jati</span>
          <span class="text-fuchsia-800" style="font-weight: 600"> Gayuh</span>
          <span class="text-fuchsia-800" style="font-weight: 600"> Risang</span>aji
        </h4>
        <div>
          <div class="flex flex-col gap-2">
            <h4 class="text-xl font-semibold">Contact</h4>
            <div>Email: gayuhjatigmail.com</div>
            <div>Phone: 085156431548</div>
            <div>Website: gayuhjati.com</div>
          </div>
          <div class="">
            <h4 class="text-xl font-semibold">Skills</h4>
            <ul class="flex flex-row gap-4">
              <li class="p-2 rounded-xl shadow-lg bg-slate-200 w-fit">Angular</li>
              <li class="p-2 rounded-xl shadow-lg bg-slate-200 w-fit">Next.js</li>
              <li class="p-2 rounded-xl shadow-lg bg-slate-200 w-fit">Node.js</li>
              <li class="p-2 rounded-xl shadow-lg bg-slate-200 w-fit">
                Tailwind css
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </main>
  