<div class="p-4 flex flex-col items-center">
  <h2 mat-dialog-title class="font-semibold text-lg">Card Details</h2>
  <div mat-dialog-content>
    <img [src]="data.sprites.front_default" alt="{{ data.name }}" />
    <p><strong>Height:</strong> {{ data.height }}</p>
    <p><strong>Weight:</strong> {{ data.weight }}</p>
    <p><strong>Abilities:</strong></p>
    <ul>
      <li *ngFor="let ability of data.abilities">{{ ability.ability.name }}</li>
    </ul>
  </div>
  <div mat-dialog-actions class="flex flex-row gap-2 justify-center mt-2">
    <button routerLink="pokemon/pokemon-detail/{{ data.name }}" (click)="close()" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-md text-sm px-2 py-1 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"> Lihat</button>
    <button mat-button (click)="close()" class="text-white bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 shadow-lg shadow-red-500/50 dark:shadow-lg dark:shadow-red-800/80 font-medium rounded-md text-sm px-4 py-2 text-center me-2 mb-2">Close</button>
  </div>
</div>
