<div>
  <div>

    <!-- SECTION LOGIN -->
    <section *ngIf="isLoginSection" class="bg-gray-50">
      <div
        class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0"
      >
        <div
          class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0"
        >
          <div
            class="text-sm font-medium text-center text-gray-500 border-b border-gray-200 dark:text-gray-400 dark:border-gray-700"
          >
            <ul class="flex flex-wrap -mb-px">
              <li class="me-2">
                <button
                  (click)="switchLoginSection('login')"
                  [ngClass]="{
                    'text-blue-600 border-b-2 border-blue-600 dark:text-blue-500 dark:border-blue-500':
                      currentPage === 'login',
                    'hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300':
                      currentPage !== 'login'
                  }"
                  class="inline-block p-4 border-b-2 border-transparent rounded-t-lg"
                >
                  Login
                </button>
              </li>
              <li class="me-2">
                <button
                  (click)="switchLoginSection('register')"
                  [ngClass]="{
                    'text-blue-600 border-b-2 border-blue-600 dark:text-blue-500 dark:border-blue-500':
                      currentPage === 'register',
                    'hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300':
                      currentPage !== 'register'
                  }"
                  class="inline-block p-4 border-b-2 border-transparent rounded-t-lg"
                >
                  Register
                </button>
              </li>
            </ul>
          </div>
          <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
            <h1
              class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl"
            >
              Sign in to your account
            </h1>
            <form #loginForm="ngForm" (ngSubmit)="onLogin(loginForm)" class="space-y-4 md:space-y-6">
              <div>
                <label
                  for="email"
                  class="block mb-2 text-sm font-medium text-gray-900"
                  >Your email</label
                >
                <input
                  type="email"
                  name="email"
                  id="email"
                  class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
                  placeholder="name@company.com"
                  ngModel email
                  [(ngModel)]="email"
                />
              </div>
              <div>
                <label
                  for="password"
                  class="block mb-2 text-sm font-medium text-gray-900"
                  >Password</label
                >
                <input
                  type="password"
                  name="password"
                  id="password"
                  placeholder="••••••••"
                  class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
                  ngModel required
                  [(ngModel)]="password"
                />
              </div>
              <div class="flex items-center justify-between">
                <div class="flex items-start">
                  <div class="flex items-center h-5">
                    <input
                      id="remember"
                      aria-describedby="remember"
                      type="checkbox"
                      class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-primary-300"
                      required=""
                    />
                  </div>
                  <div class="ml-3 text-sm">
                    <label
                      for="remember"
                      class="text-gray-500 dark:text-gray-300"
                      >Remember me</label
                    >
                  </div>
                </div>
                <a
                  (click)="switchLoginSection('register')"
                  class="text-sm hover:cursor-pointer font-medium text-primary-600 hover:underline dark:text-primary-500"
                  >Forgot password?</a
                >
              </div>
              <button
                type="submit"
                [disabled]="!loginForm.valid"
                class="w-full text-white bg-sky-600 hover:bg-sky-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
              >
                Sign in
              </button>
              <p class="text-sm font-light text-gray-500 dark:text-gray-400">
                Don’t have an account yet?
                <a
                  (click)="switchLoginSection('register')"
                  class="font-medium hover:cursor-pointer text-primary-600 hover:underline dark:text-primary-500"
                  >Sign up</a
                >
              </p>
            </form>
          </div>
        </div>
      </div>
    </section>

    <!-- SECTION REGISTER -->
    <section *ngIf="!isLoginSection" class="bg-gray-50">
      <div
        class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0"
      >
        <div
          class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0"
        >
          <div
            class="text-sm font-medium text-center text-gray-500 border-b border-gray-200 dark:text-gray-400 dark:border-gray-700"
          >
            <ul class="flex flex-wrap -mb-px">
              <li class="me-2">
                <button
                  (click)="switchLoginSection('login')"
                  [ngClass]="{
                    'text-blue-600 border-b-2 border-blue-600 dark:text-blue-500 dark:border-blue-500':
                      currentPage === 'login',
                    'hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300':
                      currentPage !== 'login'
                  }"
                  class="inline-block p-4 border-b-2 border-transparent rounded-t-lg"
                >
                  Login
                </button>
              </li>
              <li class="me-2">
                <button
                  (click)="switchLoginSection('register')"
                  [ngClass]="{
                    'text-blue-600 border-b-2 border-blue-600 dark:text-blue-500 dark:border-blue-500':
                      currentPage === 'register',
                    'hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300':
                      currentPage !== 'register'
                  }"
                  class="inline-block p-4 border-b-2 border-transparent rounded-t-lg"
                >
                  Register
                </button>
              </li>
            </ul>
          </div>
          <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
            <h1
              class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl"
            >
              Register your account
            </h1>
            <form
              #registerForm="ngForm"
              (ngSubmit)="onRegister(registerForm)"
              class="space-y-4 md:space-y-6"
            >
              <div>
                <label
                  for="email"
                  class="block mb-2 text-sm font-medium text-gray-900"
                  >Your email</label
                >
                <input
                  type="email"
                  name="email"
                  id="email"
                  class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
                  placeholder="name@company.com"
                  ngModel email
                  [(ngModel)]="email"
                />
              </div>
              <div>
                <label
                  for="password"
                  class="block mb-2 text-sm font-medium text-gray-900"
                  >Password</label
                >
                <input
                  type="password"
                  name="password"
                  id="password"
                  placeholder="••••••••"
                  class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
                  ngModel required
                  [(ngModel)]="password"
                />
              </div>
              <div>
                <label
                  for="password"
                  class="block mb-2 text-sm font-medium text-gray-900"
                  >Confirm Password</label
                >
                <input
                  type="password"
                  name="confirmPassword"
                  id="confirmPassword"
                  placeholder="••••••••"
                  class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
                  ngModel required
                  [(ngModel)]="confirmPassword"
                  [ngModelOptions]="{ updateOn: 'blur' }"
                  ngModelMatch="password"
                  ngModelErrors="{'mismatch': matchError}"
                />
              </div>
              <button
                type="submit"
                [disabled]="!registerForm.valid"
                class="w-full text-white bg-sky-600 hover:bg-sky-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
              >
                Register
              </button>
            </form>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
