<div *ngIf="pokemon" class="mt-10">
    <div class="p-4 bg-slate-50 flex flex-col justify-center rounded-md gap-4 shadow-inner">
        <h2 class="text-xl font-semibold text-center">{{ pokemon.name }}</h2>
        <img [src]="pokemon.sprites.front_default" alt="foto">
        <div>{{ pokemon.types.type }}</div>
        <ul>
            <li *ngFor="let ability of pokemon.abilities">
                Ability : {{ability.ability.name}}
            </li>
        </ul>
        <button routerLink="pokemon/{{ pokemon.name }}"> lihat</button>
    </div>

</div>